.logo-image {
    height: 48px;
    width: auto;
    padding-left: 10px;
}

@media (max-width: 600px) {
    .logo-img {
        height: 40px;
        padding-left: 8px;
    }
}

.fit-image {
    height: 20px;
    width: auto;
    vertical-align: middle;
}

a, a:visited, a:hover, a:active {
    color: inherit;
}

.no-underline {
    text-decoration: none !important;
}

.disabled {
    pointer-events: none;
    opacity:0.4;
}

.full-img {
    width:100%;
    height: auto;
}

.align-jusify {
    text-align: justify;
}

.jumbotron-bottom-less {
    padding-bottom: 0
}

.desc-paragraph {
    text-align: justify;
    font-style: italic;
    line-height: 1.2;
}

.float-right {
    float: right;
}

.user-feedback {
    background-image: url("../assets/userFeedback.png");
    background-repeat: repeat-x;
}

.rating:hover {
    cursor: pointer;
}

.collapsible-header-name {
    font-weight: 800;
    font-style: italic;
}

.collapsible-header img {
    max-height: 30px;
    width: auto
}

.collapsible-body p {
    padding-top: 0px;
}

.review-form-margin {
    margin-bottom: 25px;
}

.review-jumbotron {
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-top: 24px !important;
    padding-bottom: 24px !important;
}

.review-title {
    padding-right: 10px;
    padding-left: 10px;
}

.modal-padding {
    padding-right: 7px;
    padding-left: 15px;
}

.modal-background {
    background-color: #dddddd;
}