main {
    min-height: 200px;
}

footer {
    bottom: 0;
}

.logo-image {
    height: 48px;
    width: auto;
    padding-left: 10px;
}

@media (max-width: 600px) {
    .logo-img {
        height: 40px;
        padding-left: 8px;
    }
}

.fit-image {
    height: 20px;
    width: auto;
    vertical-align: middle;
}

.modal {
    overflow: hidden;
}

a, a:visited, a:hover, a:active {
    color: inherit;
}

.no-underline {
    text-decoration: none !important;
}

.disabled {
    pointer-events: none;
    opacity:0.4;
}

.full-img {
    width:100%;
    height: auto;
}

.align-jusify {
    text-align: justify;
}

.jumbotron-bottom-less {
    padding-bottom: 0
}

.jumbotron-bottom-margin-less {
    margin-bottom: 0;
}

.jumbotron-top-30 {
    margin-top: 30px;
}

.footer-margin-top-less {
    margin-top: 0 !important;
}

.desc-paragraph {
    text-align: justify;
    font-style: italic;
    line-height: 1.2;
}

.float-right {
    float: right;
}

.user-feedback {
    background-image: url("../assets/userFeedback.png");
    background-repeat: repeat-x;
}

.rating:hover {
    cursor: pointer;
}

.collapsible-header-name {
    font-weight: 800;
    font-style: italic;
}

.collapsible-header img {
    max-height: 35px;
    width: auto
}

.comment-list {
    padding-left: 20px !important;
}

.comment-list img {
    max-height: 30px;
    width: auto
}

.user-card img{
    max-height: 30px;
    width: auto
}

.collapsible-body p {
    padding-top: 0px;
}

.review-form-margin {
    margin-bottom: 25px;
}

.review-jumbotron {
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-top: 24px !important;
    padding-bottom: 24px !important;
}

.review-title {
    padding-right: 10px;
    padding-left: 10px;
}

.modal-padding {
    padding-right: 7px;
    padding-left: 15px;
}

.modal-background {
    background-color: #dddddd;
}

.vertical-align-middle {
    vertical-align: middle;
}

.bottom-padding {
    padding-bottom: 20px;
}

.pointer-cursor {
    cursor: pointer;
}

.favs {
    background-image: url("../assets/cafe.jpg");
    background-size: cover;

}

.followers {
    background-image: url("../assets/followers.jpg");
    background-size: cover;

}

.reviews {
    background-image: url("../assets/reviews.jpg");
    background-size: cover;
}

.fade-ul {
    /*background-color: rgba(0, 0, 0, 0.5) !important;*/
    background-color: transparent !important;
}

.fav-p{
    color: white !important;
}

.favBackground {
    background-color: rgba(0, 0, 0, 0.4) !important;
}

.modal-restrict-height{
    height: 100px !important;
    border: none;
    color:white;
    background-color: transparent;
    box-shadow: none !important;
}

.white-background {
    background-color: white;
}

.card-profile {
    height: 500px;
    overflow-y: auto;
}

.child-scroll {
    overflow-y: scroll;
}

.user-profile-img {
    height: 50px;
    width: auto;
    vertical-align: middle;
}

#sidenav-overlay {
    z-index: 0 !important;
}

.side-nav {
    background-color: rgba(0,0,0,0.5) !important;
}

.transparent-background {
    background: transparent !important;
}

.margin-zero {
    margin:0;
}

.white-text {
    color: whitesmoke;
}

.glass-background {
    background-color: rgba(0,0,0,0.4) !important;
    margin-bottom: 0px;
    padding-bottom: 20px;
}

.title-font {
    /*font-family: 'Pacifico', cursive;*/
    font-family: 'Lobster', cursive;
}

.one-line-font {
    /*font-family: 'Alice', serif;*/
    font-family: 'Special Elite', cursive;
}

.video-responsive {
    width: 100%;
    height: 315px;
}

.developer-img {
    max-height: 20vh !important;
    width: auto;
}

.a-hoverless:hover {
    color: whitesmoke;
}

body {
    font-family: 'Copse', serif !important;
}

.dimgray-background {
    background-color: dimgray !important
}