<nav class="teal">
    <div class="nav-wrapper">
        <a href="#!" class="brand-logo"><img src="../../assets/logo.png" class="logo-image"></a>
        <a href="#!" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>

        <ul class="right hide-on-med-and-down">
            <li class="active"><a href="#/search">Search</a></li>
            <li><a class="waves-effect waves-light btn teal accent-3" href="#/login">Login</a></li>
        </ul>
    </div>
</nav>

<br/><br/>
    <div class="row">
        <div class="col s4 m4"></div>
        <div class="col s4 m4">
            <div class="modal-content text-center modal-padding modal-background">
                <h5>You are not authorized!<br>Please login<br>(as an admin if required)</h5>
                <a href="#/login" class=" modal-action modal-close waves-effect btn-flat no-underline">Agree</a>
            </div>
        </div>
        <div class="col s4 m4"></div>
    </div>

<wifi-loc8r-footer class="teal footer-margin-top-less navbar-fixed-bottom"></wifi-loc8r-footer>