<div class="carousel">
    <a class="carousel-item" href="#one!">
        <div class="card-panel">
            <div class="card-title">Login</div>
        </div>

    </a>
    <a class="carousel-item" href="#two!">
        <div class="card-panel">
            <div class="card-title">Login</div>
        </div>

    </a>
    <a class="carousel-item" href="#three!">
        <div class="card-panel">
            <div class="card-title">Login</div>
        </div>

    </a>
    <a class="carousel-item" href="#four!">
        <div class="card-panel">
            <div class="card-title">Login</div>
        </div>

    </a>
    <a class="carousel-item" href="#five!">
        <div class="card-panel">
            <div class="card-title">Login</div>
        </div>

    </a>
</div>