<wifi-loc8r-header></wifi-loc8r-header>

<main>
    <div ng-show="model.currentUserPlaces.length==0">
        <h4><span class="text-muted">No Places to show</span></h4>
    </div>
    <div class="favs">

        <div class="favBackground">
        <ul ng-repeat=" favoritePlace in model.currentUserPlaces" class="collection pointer-cursor">
            <li class="collection-item avatar fade-ul">
                <a ng-href="#/place/{{favoritePlace.placeId}}" class="no-underline">
                    <img ng-src="{{favoritePlace.thumbnail}}" class="circle">
                    <div ng-if="favoritePlace.thumbnail == null">
                        <img src="../../assets/cafe-office-laptop-01.jpg" class="circle">
                    </div>
                    <div class="title">
                        <p class="fav-p"><b>{{favoritePlace.title}}</b> <i class="material-icons float-right">grade</i>
                            <br>
                            {{favoritePlace.address.street}}<br>
                            {{favoritePlace.address.city}}, {{favoritePlace.address.postal}}
                        </p>
                    </div>
                </a>


            </li>
        </ul>
        </div>
    </div>
</main>



<wifi-loc8r-footer class="lime darken-2"></wifi-loc8r-footer>