<nav>
    <div class="nav-wrapper">
        <a href="#!" class="brand-logo">Logo</a>
        <a href="#!" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>

        <ul class="right hide-on-med-and-down">
            <li class="active"><a href="#/search">Search</a></li>
            <li><a href="#/favorites">My Favorites</a></li>
            <li><a href="#/followees">People I Follow</a></li>
            <li><a class="modal-trigger waves-effect waves-light" data-target="modal1" ng-click="model.openModal()">Profile</a></li>
            <li><a class="waves-effect waves-light btn" ng-click="model.logout();">Logout</a></li>
        </ul>
        <!--TODO side nave does not work now. Fix it!-->
        <ul class="side-nav" id="mobile-demo">
            <li class="active"><a href="/search">Search</a></li>
            <li><a href="/favorites">My Favorites</a></li>
            <li><a href="/followees">People I Follow</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a class="waves-effect waves-light btn">Logout</a></li>
        </ul>
    </div>
</nav>




<div class="jumbotron text-center">
    <div class="alert alert-danger" ng-show="model.error" role="alert">
        {{model.error}}
    </div>
    <div class="container-fluid">
        <div class="row">
            <!--search filters-->
            <form name="searchForm">
                <div class="col s4 m4">
                    <!--search based on zipcode-->
                    <div class="input-field">
                        <i class="material-icons prefix">search</i>
                        <input id="search_icon1" type="radio" ng-model="model.filters.selected" name="group1" value="zipcode" class="validate">
                        <label for="search_icon1">Search based on Zipcode</label>
                    </div>
                </div>

                <div class="col s4 m4">
                    <!--search based on location-->
                    <div class="input-field">
                        <i class="material-icons prefix">my_location</i>
                        <input id="search_icon2" type="radio" ng-model="model.filters.selected" name="group1" value="location" class="validate">
                        <label for="search_icon2">Search based on Current Location & Radius (in miles)</label>
                    </div>
                </div>

                <div class="col s4 m4">
                    <!--search based on name-->
                    <div class="input-field">
                        <i class="material-icons prefix">shopping_basket</i>
                        <input id="search_icon3" type="radio" ng-model="model.filters.selected" name="group1" value="name" class="validate">
                        <label for="search_icon3">Search based on Place Name</label>
                    </div>
                </div>
            </form>
        </div>

        <div class="row">
            <br>
            <div class="col s4 m4"></div>
            <div class="col s4 m4">
                <div class="input-field">
                    <input id="search_icon4" type="text" ng-model="model.filters.text" name="name" class="validate">
                    <label for="search_icon4">Enter Value Here</label>
                </div>
            </div>
            <div class="col s4 m4"></div>
        </div>

        <div class="row">
            <br>
            <a id="clickEvent1" class="waves-effect waves-light btn-large no-underline" ng-click="model.search(model.filters)">
                <i class="material-icons right"> play_for_work</i>
                Search
            </a>
        </div>

        <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-blue-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>


        <!-- Modal Structure -->
        <div id="modal1" class="modal">

            <div class="modal-content">
                <h4>Edit Profile</h4>
                <div class="row">
                    <form class="col s12">
                        <div class="row">
                            <div class="input-field col s6">
                                <i class="material-icons prefix">account_circle</i>
                                <input id="firstName" type="text" class="validate" ng-model="model.user.firstName">
                                <label class="active" for="firstName">First Name</label>
                            </div>
                            <div class="input-field col s6">
                                <i class="material-icons prefix">account_circle</i>
                                <input id="lastName" type="text" class="validate" ng-model="model.user.lastName">
                                <label class="active" for="lastName">Last Name</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">email</i>
                                <input id="email" type="email" class="validate" ng-model="model.user.email">
                                <label class="active" for="email">Email</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">call</i>
                                <input id="phone" type="tel" class="validate" ng-model="model.user.phone">
                                <label class="active" for="phone">Phone</label>
                            </div>
                        </div>

                        <button class="btn waves-effect waves-light" name="action" ng-click="model.updateUser()">
                            Update
                            <i class="material-icons right">system_update_alt</i>
                        </button>

                        <button class="btn waves-effect waves-light" name="action" ng-click="model.deleteUser()">
                            Delete
                            <i class="material-icons right">delete</i>
                        </button>

                    </form>
                </div>
            </div>
        </div>
    </div>
        </div>


        <div class="row">
            <!--search results-->

            <div ng-show="model.resultSet && model.resultSet.length==0">
                <h4><span class="text-muted">No results to show</span></h4>
            </div>
            <ul ng-repeat="eachPlace in model.resultSet" class="collection">
                <li class="collection-item avatar">
                    <img ng-src="{{eachPlace.thumbnail_img}}" alt="thumb" class="circle">
                    <div class="title">{{eachPlace.title}}</div>
                    <div>
                        {{eachPlace.street}}
                        <br>
                        {{eachPlace.city}}
                    </div>
                    <a href="#/place/{{eachPlace.ID}}" class="secondary-content"><i class="material-icons">keyboard_arrow_right</i></a>
                </li>
            </ul>
        </div>




<!-- Footer -->
<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l4 s12"></div>
            <div class="col l4 s12">
                <a class="waves-effect waves-light btn-large no-underline" href="#/user/feedback">
                    <i class="material-icons left">chat</i>Submit Feedback</a>
            </div>
            <div class="col l3 s12"></div>
        </div>

        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Footer Content</h5>
                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2014 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>
    </div>
</footer>

