<wifi-loc8r-header></wifi-loc8r-header>

<main>
    <div class="container-fluid">
        <div class="alert alert-danger" ng-show="model.error" role="alert">
            {{model.error}}
        </div>
        <div class="jumbotron jumbotron-bottom-less jumbotron-top-30">
            <!--TODO make this responsive: rearrange for mobile view-->
            <div class="row">
                <div class="col s12 m4">
                    <img ng-src="{{model.place.full_img}}" alt="{{model.place.title}}" title="{{model.place.title}}" class="full-img"/>
                    <div ng-if="model.place.full_img == null">
                        <img src="../../assets/default-place.jpg" class="full-img">
                    </div>
                </div>
                <div class="col s12 m8">
                    <span ng-show="model.place.status=='verified'" class="fa fa-check-circle text-muted" style="color:green;"> {{model.place.status}}</span>
                    <h2>{{model.place.title}}</h2>
                    <h5>{{model.place.street}}, {{model.place.city}} {{model.place.postal}}</h5>
                    <p class="desc-paragraph">{{model.place.description}}</p>
                    Type: {{model.place.type}}
                    <br><br>
                    <a class="no-underline pointer-cursor" ng-click="model.addToFavorites()">
                            <span ng-if="model.favStatus">
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </span>
                            <span ng-if="!model.favStatus">
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                            </span>
                        Favorite this!
                    </a>
                </div>
            </div>

            <div class="row">
                <div class="col m4"></div>
                <div class="col s12 m8">
                    <div class="row">
                        <div class="col s4 m4">
                            <div class="fa fa-arrow-down">
                                <b>Download: </b>
                                <span ng-if="model.place.download && model.place.download!==''">
                                    {{model.place.download}} Mbps
                                </span>
                                <span ng-if="!model.place.download || model.place.download===''">
                                    N/A
                                </span>

                            </div>
                        </div>
                        <div class="col s4 m4">
                            <div class="fa fa-arrow-up">
                                <b>Upload: </b>
                                <span ng-if="model.place.upload && model.place.upload!==''">
                                    {{model.place.upload}} Mbps
                                </span>
                                <span ng-if="!model.place.upload || model.place.upload===''">
                                    N/A
                                </span>
                            </div>
                        </div>
                        <div class="col s4 m4">
                            <div class="fa fa-plug">
                                <b>Power outlet availability: </b>
                                {{model.place.power || "N/A"}}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col s4 m4">
                            <div class="fa fa-volume-up">
                                <b>Noise Level: </b>
                                {{model.place.noise || "N/A"}}
                            </div>
                        </div>
                        <div class="col s4 m4">
                            <div class="fa fa-users">
                                <b>Capacity: </b>
                                {{model.place.capacity || "N/A"}}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col fa fa-cutlery">
                            <b>Food: </b>
                            {{model.place.food || "N/A"}}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col fa fa-glass">
                            <b>Alcohol: </b>
                            {{model.place.alcohol || "N/A"}}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col fa fa-clock-o">
                            <b>Open hours today: </b>
                            {{model.place.hr_formatted || "N/A"}}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div ng-include="'views/reviews/reviews.view.client.html'"></div>
    </div>
</main>

<wifi-loc8r-footer class="lime darken-2"></wifi-loc8r-footer>