<wifi-loc8r-header></wifi-loc8r-header>

<main>
    <div class="jumbotron text-center">
        <div class="alert alert-danger" ng-show="model.error" role="alert">
            {{model.error}}
        </div>
        <div class="container-fluid">
            <div class="row">
                <!--search filters-->
                <form name="searchForm">
                    <div class="col s12 m4">
                        <!--search based on zipcode-->
                        <div class="input-field">
                            <input id="search_icon1" type="radio" ng-model="model.filters.selected" name="group1" value="zipcode" class="validate" checked>
                            <label for="search_icon1">based on Zipcode</label>
                            <i class="material-icons prefix">search</i>
                        </div>
                    </div>

                    <div class="col s12 m4">
                        <!--search based on location-->
                        <div class="input-field">
                            <input id="search_icon2" type="radio" ng-model="model.filters.selected" name="group1" value="location" class="validate">
                            <label for="search_icon2">based on location & Radius(in miles)</label>
                            <i class="material-icons prefix">my_location</i>
                        </div>
                    </div>

                    <div class="col s12 m4">
                        <!--search based on name-->
                        <div class="input-field">
                            <input id="search_icon3" type="radio" ng-model="model.filters.selected" name="group1" value="name" class="validate">
                            <label for="search_icon3">based on Place Name</label>
                            <i class="material-icons prefix">shopping_basket</i>
                        </div>
                    </div>
                </form>
            </div>

            <div class="row">
                <br>
                <div class="col s2 m5"></div>
                <div class="col s8 m2">
                    <div class="input-field">
                        <input id="search_icon4" type="text" ng-model="model.filters.text" name="name" class="validate">
                        <label for="search_icon4">Enter Value Here</label>
                    </div>
                </div>
                <div class="col s2 m5"></div>
            </div>

            <div class="row">
                <br>
                <a id="clickEvent1" class="waves-effect waves-light btn-large no-underline" ng-click="model.search(model.filters)">
                    <i class="material-icons right"> play_for_work</i>
                    Search
                </a>
            </div>

            <div class="preloader-wrapper big active">
                <div class="spinner-layer spinner-blue-only">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <!--search results-->

        <div ng-show="model.resultSet && model.resultSet.length==0">
            <h4><span class="text-muted">No results to show</span></h4>
        </div>
        <ul ng-repeat="eachPlace in model.resultSet" class="collection">
            <li class="collection-item avatar">
                <img ng-src="{{eachPlace.thumbnail_img}}" alt="thumb" class="circle">
                <div ng-if="eachPlace.thumbnail_img == ''">
                    <img src="../../assets/default-place.jpg" class="circle">
                </div>
                <a href="#/place/{{eachPlace.ID}}" class="no-underline">
                    <div class="title">{{eachPlace.title}}</div>
                    <div>
                        {{eachPlace.street}}
                        <br>
                        {{eachPlace.city}}
                    </div>
                    <i class="material-icons secondary-content">keyboard_arrow_right</i>
                </a>
            </li>
        </ul>
    </div>
</main>

<wifi-loc8r-footer class="lime darken-2"></wifi-loc8r-footer>