<span>
    <i class="material-icons">star</i>
    <span ng-if="rating>1"><i class="material-icons">star</i></span>
    <span ng-if="rating<=1"><i class="material-icons">star_border</i></span>
    <span ng-if="rating>2"><i class="material-icons">star</i></span>
    <span ng-if="rating<=2"><i class="material-icons">star_border</i></span>
    <span ng-if="rating>3"><i class="material-icons">star</i></span>
    <span ng-if="rating<=3"><i class="material-icons">star_border</i></span>
    <span ng-if="rating>4"><i class="material-icons">star</i></span>
    <span ng-if="rating<=4"><i class="material-icons">star_border</i></span>
</span>