<div>
    <nav>
        <div class="nav-wrapper">
            <a href="#!" class="brand-logo"><img src="../../assets/logo.png" class="logo-image"></a>
            <a href="#!" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>

            <ul class="right hide-on-med-and-down">
                <li class="active"><a href="#/search">Search</a></li>
                <span ng-if="model.user._id">
                    <li><a href="#/favorites">My Favorites</a></li>
                    <li><a href="#/followees">People I Follow</a></li>
                    <li><a class="modal-trigger waves-effect waves-light" data-target="modal1" ng-click="model.openModal()">Profile</a></li>
                    <li><a class="waves-effect waves-light btn" ng-click="model.logout();">Logout</a></li>
                </span>
                <span ng-if="!model.user._id">
                    <li><a class="waves-effect waves-light btn" href="#/login">Login</a></li>
                </span>
            </ul>
        </div>
    </nav>

    <!-- Modal Structure -->
    <div id="modal1" class="modal">
        <div class="modal-content">
            <h4>Edit Profile</h4>
            <div class="row">
                <form class="col s12">
                    <div class="row">
                        <div class="input-field col s6">
                            <i class="material-icons prefix">account_circle</i>
                            <input id="firstName" type="text" class="validate" ng-model="model.user.firstName">
                            <label class="active" for="firstName">First Name</label>
                        </div>
                        <div class="input-field col s6">
                            <i class="material-icons prefix">account_circle</i>
                            <input id="lastName" type="text" class="validate" ng-model="model.user.lastName">
                            <label class="active" for="lastName">Last Name</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">email</i>
                            <input id="email" type="email" class="validate" ng-model="model.user.email">
                            <label class="active" for="email">Email</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">call</i>
                            <input id="phone" type="tel" class="validate" ng-model="model.user.phone">
                            <label class="active" for="phone">Phone</label>
                        </div>
                    </div>

                    <button class="btn waves-effect waves-light" name="action" ng-click="model.updateUser()">
                        Update
                        <i class="material-icons right">system_update_alt</i>
                    </button>

                    <button class="btn waves-effect waves-light" name="action" ng-click="model.deleteUser()">
                        Delete
                        <i class="material-icons right">delete</i>
                    </button>

                </form>
            </div>
        </div>
    </div>
</div>