<nav class="teal">
    <div class="nav-wrapper">
        <a href="#!" class="brand-logo"><img src="../../assets/logo.png" class="logo-image"></a>
        <a href="#!" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>

        <ul class="right hide-on-med-and-down">
            <li class="active"><a href="#/search">Search</a></li>
            <li><a class="waves-effect waves-light btn" href="#/register">Register</a></li>
        </ul>
    </div>
</nav>
<div class="jumbotron text-center jumbotron-bottom-margin-less">
    <div class="container-fluid">
        <div class="row">
            <div class="col s3 m3"></div>
            <div class="col s6 m6">
                <div class="card">
                    <span class="card-title">Login</span>
                    <div ng-show="model.error" class="alert alert-danger" role="alert">
                        {{model.error}}
                    </div>
                    <div class="card-content">
                        <div class="row">
                            <form class="col s12">
                                <div class="row">
                                    <div class="input-field col s12">
                                        <i class="material-icons prefix">account_circle</i>
                                        <input id="email" type="email" class="validate" ng-model="model.email">
                                        <label for="email">Email</label>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="input-field col s12">
                                        <i class="material-icons prefix">visibility</i>
                                        <input id="password" type="password" class="validate" ng-model="model.password">
                                        <label for="password">Password</label>
                                    </div>
                                </div>

                                <button class="btn waves-effect waves-light" name="action" ng-click="model.login();">
                                    Login
                                    <i class="material-icons right">send</i>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s3 m3"></div>
        </div>
    </div>
</div>

<wifi-loc8r-footer class="teal footer-margin-top-less"></wifi-loc8r-footer>
<!--
<footer class="page-footer">
    <div class="container">

        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">What does WiFi-Loc8r do?</h5>
                <p class="grey-text text-lighten-4 align-jusify">
                    Glad you asked!<br>
                    Ever been in a situation when you wanted to work from
                    home but couldn't because of your crappy internet connection?<br>
                    We have too.<br>
                    And that's why we built this.<br>
                    Now you can find places around you to work from and not struggle to
                    find a good internet connection. There a bigger problems to tackle.
                </p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Developed by</h5>
                <ul>
                    <li>
                        <img class="fit-image" src="../../assets/linkedin.png">
                        <a class="grey-text text-lighten-3" target="_blank" href="https://www.linkedin.com/in/prasadnm">
                            JP
                        </a>
                    </li>
                    <li>
                        <img class="fit-image" src="../../assets/linkedin.png">
                        <a class="grey-text text-lighten-3" target="_blank" href="https://www.linkedin.com/in/vinayhegde1">
                            Vinay
                        </a>
                    </li>
                    <li>
                        <img class="fit-image" src="../../assets/linkedin.png">
                        <a class="grey-text text-lighten-3" target="_blank" href="https://www.linkedin.com/in/dhanush92">
                            Dhanush
                        </a>
                    </li>
                    <li>
                        <span class="text-lighten-3">powered by</span>
                        <a class="grey-text text-lighten-3" target="_blank" href="https://workfrom.co/">
                            Workfrom.co
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Copyright © {{model.currentYear}} WiFi Loc8r
        </div>
    </div>
</footer>-->
