<nav class="teal">
    <div class="nav-wrapper">
        <a href="#!" class="brand-logo"><img src="../../assets/logo.png" class="logo-image"></a>
        <a href="#!" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>

        <ul class="right hide-on-med-and-down">
            <li class="active"><a href="#/search">Search</a></li>
            <li><a class="waves-effect waves-light btn teal accent-3" href="#/login">Login</a></li>
        </ul>
    </div>
</nav>

<div class="jumbotron text-center jumbotron-bottom-margin-less">
    <div class="container-fluid">
        <div class="row">
            <div class="col s3 m3"></div>
            <div class="col s6 m6">
                <div class="card">
                    <span class="card-title">Sign Up</span>
                    <div ng-show="model.error" class="alert alert-danger" role="alert">
                        {{model.error}}
                    </div>
                    <div class="card-content">
                        <div class="row">
                            <form>
                                <div class="row">
                                    <div class="input-field col s6">
                                        <i class="material-icons prefix">account_circle</i>
                                        <input id="firstName" type="text" class="validate" ng-model="model.user.firstName">
                                        <label for="firstName">First Name</label>
                                    </div>
                                    <div class="input-field col s6">
                                        <i class="material-icons prefix">account_circle</i>
                                        <input id="lastName" type="text" class="validate" ng-model="model.user.lastName">
                                        <label for="lastName">Last Name</label>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="input-field col s12">
                                        <i class="material-icons prefix">email</i>
                                        <input id="email" type="email" class="validate" ng-model="model.user.email">
                                        <label for="email">Email</label>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="input-field col s12">
                                        <i class="material-icons prefix">call</i>
                                        <input id="phone" type="tel" class="validate" ng-model="model.user.phone">
                                        <label for="phone">Phone</label>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="input-field col s12">
                                        <i class="material-icons prefix">visibility</i>
                                        <input id="password" type="password" class="validate"  ng-model="model.user.password">
                                        <label for="password">Password</label>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="input-field col s12">
                                        <i class="material-icons prefix">visibility</i>
                                        <input id="confirmPassword" type="password" class="validate"  ng-model="model.user.confirmPassword">
                                        <label for="confirmPassword">Confirm Password</label>
                                    </div>
                                </div>

                                <button class="btn waves-effect waves-light" name="action" ng-click="model.register();">
                                    Register
                                    <i class="fa fa-user-plus" aria-hidden="true"></i>
                                </button>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s3 m3"></div>
        </div>
    </div>
</div>

<wifi-loc8r-footer class="teal footer-margin-top-less"></wifi-loc8r-footer>
