<div class="jumbotron text-center">
<div class="container-fluid">
    <div class="row"></div>
    <div class="row">
        <div class="col s3 m3"></div>
        <div class="col s6 m6">
            <div class="card">
                <span class="card-title">Sign Up</span>
                <div ng-show="model.error" class="alert alert-danger" role="alert">
                    {{model.error}}
                </div>
                <div class="card-content">
                    <div class="row">
                        <form class="col s12">
                            <div class="row">
                                <div class="input-field col s6">
                                    <i class="material-icons prefix">account_circle</i>
                                    <input id="firstName" type="text" class="validate" ng-model="model.user.firstName">
                                    <label for="firstName">First Name</label>
                                </div>
                                <div class="input-field col s6">
                                    <i class="material-icons prefix">account_circle</i>
                                    <input id="lastName" type="text" class="validate" ng-model="model.user.lastName">
                                    <label for="lastName">Last Name</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">email</i>
                                    <input id="email" type="email" class="validate" ng-model="model.user.email">
                                    <label for="email">Email</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">call</i>
                                    <input id="phone" type="tel" class="validate" ng-model="model.user.phone">
                                    <label for="phone">Phone</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">visibility</i>
                                    <input id="password" type="password" class="validate"  ng-model="model.user.password">
                                    <label for="password">Password</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">visibility</i>
                                    <input id="confirmPassword" type="password" class="validate"  ng-model="model.user.confirmPassword">
                                    <label for="confirmPassword">Confirm Password</label>
                                </div>
                            </div>

                            <button class="btn waves-effect waves-light" name="action" ng-click="model.register();">
                                Submit
                                <i class="material-icons right">send</i>
                            </button>

                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s3 m3"></div>
    </div>
</div>
</div>
